<a href="https://colab.research.google.com/github/ArpithMathaiPaul/Business-analytics-with-Python/blob/main/Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello DDO")

Hello DDO

In [ ]:
x="India"

In [ ]:
type(x)

str

In [ ]:
x=10

In [ ]:
x

10

In [ ]:
x=int(input("Enter a namer"))

Enter a namer34

In [ ]:
x

10

In [ ]:
type(x)

int

In [ ]:
x=int(input("Enter first : "))
y=int(input("Enter second : "))

Enter first : 44
Enter second : 45

In [ ]:
print("Mul =", x*y)
print("Add =", x+y)
print("Div =", x/y)
print("Sub =", x-y)

Mul = 1980
Add = 89
Div = 0.9777777777777777
Sub = -1

In [ ]:
x=int(input(" Enter your mark for accountancy : "))
if x > 50 :
  print("You are passed")
if x < 50 :
  print("You are failed")

 Enter your mark for accountancy : 76
You are passed

In [ ]:
x=int(input(" Enter your Salary : "))
if x > 250000 :
  print("You are taxable")
if x < 250000 :
  print("You are not taxable")

 Enter your Salary : 5345345435
You are taxable

In [ ]:
x=int(input(" Enter your Salary : "))
if x < 250000 :
  print("You are not taxable")
if x > 250000 & x< 500000 :
  print("You are taxable")
  print((x-250000)*10/100)
if x>500000 :
  print("You are taxable")
  print(((x-500000)*20/100)+(x-250000)*10/100)

 Enter your Salary : 300000
You are taxable
5000.0

In [ ]:
x=0
total=0
while x <10 :
  total=total+x
  x=x+1 
  print(total)
# x = 3, total = 3

0
1
3
6
10
15
21
28
36
45