<a href="https://colab.research.google.com/github/ArpithMathaiPaul/Business-analytics-with-Python/blob/main/Working_with_Python_18(basics_of_Python).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("\"Arpith\" Mathai Paul")

"Arpith" Mathai Paul

In [ ]:
print("Arpith \n Mathai Paul")

Arpith
 Mathai Paul

In [ ]:
print("He's a Doctor")

He's a Doctor

In [ ]:
X=["John", "Mary", "David", "Adam"]
X.insert(2,"James")
print(X)

['John', 'Mary', 'James', 'David', 'Adam']

In [ ]:
x=['A',"b","C","K"]
y=int(input("Enter Index"))
n=input("Enter a Name")
x.insert(y,n)

Enter Index2
Enter a NameFarzan

In [ ]:
def arpith():
  y=int(input("Enter Index"))
  n=input("Enter a Name")
  x.insert(y,n)

In [ ]:
arpith()

Enter Index1
Enter a NameJoe

In [ ]:
def Arpith():
  x=int(input("Enter first value"))
  y=int(input("Enter second value"))
  print(x+y)

In [ ]:
Arpith()

Enter first value6
Enter second value7
13

In [ ]:
def maths(a,b):
  print(a+b)

In [ ]:
x=int(input("enter first value"))
y=int(input("enter second value"))
maths(x,y)

enter first value6
enter second value7
13